<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053976974353-krn39q656gvo691elejm9pqqqsurpk9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053976974353-krn39q656gvo691elejm9pqqqsurpk9d</string>
	<key>API_KEY</key>
	<string>AIzaSyA6dQr2PZJEsTc7ZHrE6_99L90Z-m1YADE</string>
	<key>GCM_SENDER_ID</key>
	<string>1053976974353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A00830568.App07-Todo-Firebase</string>
	<key>PROJECT_ID</key>
	<string>tc2007b-ad2022-a00830568</string>
	<key>STORAGE_BUCKET</key>
	<string>tc2007b-ad2022-a00830568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053976974353:ios:e7183c573542def7034db0</string>
</dict>
</plist>